.cache
.coverage
.coveralls.yml
.DS_Store
.idea
.ipynb_checkpoints
.pytest_cache
.ropeproject

*.lprof
*.pdf
*.pgf
*.png
*.py.bak
*.pyc

Makefile
todo.md

old/
my-projects/

dist/
htmlcov/
QMix.egg-info/

Makefile
